
<!--
  Lecturer Roster Template
  =============
  This template dynamically loads the lecturer instance list into a scrollable table layout.
  The table contains a sticky header for the years and months and a sticky column for the subject details.
  It uses HTMX to load the lecturer instance data asynchronously and updates the table without a full page refresh.
  
  File: lecturer_roster.html
  Author: Jacob Paff
-->

{% extends "base.html" %} 

{% block content %}
<!-- Trigger the request on load, change, or when userListChanged event is triggered -->
<a
  hx-trigger="change, load"
  hx-get="{% url 'lecturer_instance_list' %}"
  hx-target="#lecturer_instance_list"
  hx-swap="outerHTML"
>
</a>

<!-- Container for the lecturer instance list table -->
<div class="container-fluid my-4">
  <div class="scrollable-container">
    <!-- Table with a sticky header and sticky column for subject details -->
    <table class="table table-bordered text-center">
      <thead class="sticky-row">
        <tr>
          <th style="width: 100px"></th>
          {% for year in years %}
          <th colspan="12">{{ year }}</th>
          {% endfor %}
        </tr>
        <tr>
          <th style="width: 100px"></th>
          {% for year in years %}
            {% for month_name in months.values %}
              <th style="width: 100px">{{ month_name }}</th>
            {% endfor %}
          {% endfor %}
        </tr>
      </thead>
      
      <!-- Target for the dynamically loaded content -->
      <tbody id="lecturer_instance_list">
        <tr>
          <td>Loading...</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- CSS for table layout and scrollable container -->
<style>
  /* Button that covers the entire table cell */
  .btn-full {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* Scrollable container for both horizontal and vertical scrolling */
  .scrollable-container {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 900px; /* Set a maximum height to allow vertical scrolling */
    position: relative;
  }

  /* Sticky Column for subject info */
  .sticky-col {
    position: sticky;
    left: 0;
    z-index: 8; /* Ensure the sticky column is above other table content */
  }

  /* Sticky Row for table header */
  .sticky-row {
    position: sticky;
    top: -10px; /* Adjust position to ensure proper alignment */
    z-index: 10; /* Ensure the sticky row is above the table content */
  }

  /* Change background color on hover for table rows with success status */
  .table-success:hover {
    background-color: #d4eefa;
  }
</style>
{% endblock %}
