<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Rostering Demo</title>
    

    <link
      id="theme-link"
      href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/lux/bootstrap.min.css"
      rel="stylesheet"
    />

  </head>
  <body >
    {% include "navbar.html" %}
    <div >
      <br />

      {% block content %} {% endblock %}

    <!-- Modal -->
    <div id="modal" class="modal fade" tabindex="-1">
      <div id="dialog" class="modal-dialog  modal-lg" hx-target="this"></div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    
    <!-- Custom JS for changing theme -->
    {% comment %} <script>
      function changeTheme() {
        var selectedTheme = document.getElementById("theme-selector").value;
        var themeLink = document.getElementById("theme-link");
        themeLink.href = "https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/" + selectedTheme + "/bootstrap.min.css";
      }
    </script> {% endcomment %}
    <link id="theme-link" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/lux/bootstrap.min.css">

    <script src="https://kit.fontawesome.com/7b1bfab025.js" crossorigin="anonymous"></script>
    <!-- Load custom JavaScript -->
    <script src="{% static 'js/modal.js' %}"></script>
    <!-- DataTables CSS and JS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    {% block js %} {% endblock %}
  </body>
</html>
