<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete user {{user.first_name}} {{user.last_name}}?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-danger" 
              hx-post="{% url 'delete_user' user_id=user.user_id %}"
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
              hx-target="#dialog">
        Delete
      </button>
    </div>
  </div>