{% for user in users %}
<tr id="user-{{ user.user_id }}" class="user-row">
  <td>{{ user.first_name }}</td>
  <td>{{ user.last_name }}</td>
  <td>{{ user.role }}</td>
  <td class="text-end">
    {% if user.role.role_id == 'Lecturer' %}
    <button
      type="button"
      class="btn btn-primary btn-sm"
      hx-get="{% url 'set_expertise' user_id=user.user_id %}"
      hx-target="#dialog"
    >
      Set Lecturer Expertise
    </button>
    {% endif %}
    <button
      type="button"
      class="btn btn-primary btn-sm"
      hx-get="{% url 'edit_user' user_id=user.user_id %}"
      hx-target="#dialog"
    >
      Edit User
    </button>
    <button
      type="button"
      class="btn btn-danger btn-sm"
      hx-get="{% url 'confirm_delete_user' user_id=user.user_id %}"
      hx-target="#dialog"
    >
      Delete User
    </button>
  </td>
</tr>
{% endfor %}
