{% extends "base.html" %} {% block content %}

<a
  hx-trigger="overloadedLecturers"
  hx-get="{% url 'overloaded_lecturers' %}"
  hx-target="#overloadedLecturers"
>
</a>
<div class="container-fluid my-4">
  <div class="d-flex align-items-center mb-3 gap-2">


  <input
    type="text"
    id="search-box"
    name="search"
    placeholder="Search Subjects or Lecturers..."
    hx-get="{% url 'instance_calendar' %}"
    hx-target="#cal_instance_list"
    hx-swap="innerHTML"
    hx-trigger="keyup changed delay:500ms, change, load"
    class="form-control form-control-lg" 
  />
  {% comment %} <label>
    <input
      type="checkbox"
      id="unassigned-checkbox"
      class="form-check-input"
      hx-trigger="change"
      hx-get="{% url 'instance_calendar' %}"
      hx-target="#cal_instance_list"
      hx-swap="innerHTML"
      name="unassigned"
    />
    Unassigned Only
  </label> {% endcomment %}
  <!-- Clear Button -->
  <button class="btn btn-outline-secondary" type="button" id="clear-search" onclick="clearSearch()">Clear</button>

  <!-- Month Selector -->
  <input
    type="month"
    id="month-selector"
    name="month"
    class="form-control form-control-lg"
    hx-trigger="change"
    hx-get="{% url 'instance_calendar' %}"
    hx-target="#cal_instance_list"
    hx-swap="innerHTML"
  />


</div>
  <div class="scrollable-container">
    <table class="table table-bordered text-center dataTable" id="cal_instance_list">
    </table>
  </div>
</div>
<style>
  /* Make the button cover the whole cell */
  .btn-full {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* Scrollable container for horizontal and vertical scrolling */
  .scrollable-container {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 55%; /* Set a max-height to trigger vertical scrolling */
    position: relative;
  }

  /* Sticky Column */
  .sticky-col {
    position: sticky;
    left: 0;
    z-index: 8;
    width: 300px !important;
  }

  /* Sticky Row */
  .sticky-row {
    position: sticky;
    top: -100px;
    z-index: 10; /* Ensure it's above other table content */
  }

  /* Add hover effect on the parent table cell */
  .table-success:hover {
    background-color: #d4eefa;
  }
  /* Add hover effect on the parent table cell */
  .table-danger:hover {
    background-color: #f5b1b5;
  }
</style>
<!-- Include DataTables initialization script -->
{% comment %} <script>
  $(document).ready(function () {
    $(".dataTable").DataTable({
      paging: true, // Enable pagination
      pageLength: 2, // Set default rows per page
      lengthMenu: [5, 10, 25, 50, 100], // Options for rows per page
      ordering: true, // Enable sorting
      searching: true, // Enable search
    });
  });
</script> {% endcomment %}
{% endblock %}
