{% for lecturer in lecturer_list %}
<tr id="lecturer-{{ lecturer.user_id }}" class="user-row {% if lecturer.max_workload_percent > 100 %}table-danger{% endif %}">
  <td>{{ lecturer.first_name }}</td>
  <td>{{ lecturer.last_name }}</td>
  <td>{{ lecturer.max_workload_percent }}%</td>
  <td class="text-end">
    {% if lecturer in assigned_lecturers %}
    <button
      type="button"
      class="btn btn-danger btn-sm"
      hx-get="{% url 'remove_lecturer_instance' %}?instance_id={{ instance_id }}&lecturer_id={{lecturer.user_id}} "
      hx-target="#dialog"
    >
      Remove Lecturer
    </button>
    {% else %}
    <button
      type="button"
      class="btn btn-primary btn-sm"
      hx-get="{% url 'add_lecturer_instance' %}?instance_id={{ instance_id }}&lecturer_id={{lecturer.user_id}} "
      hx-target="#dialog"
    >
      Add Lecturer
    </button>
    {% endif %}
  </td>
</tr>
{% endfor %}
