<!-- 
  Confirm Delete Modal Template

  Author: Jacob Paff
  Revision: 1.0
-->

<div class="modal-content">
  <!-- Modal Header -->
  <div class="modal-header">
    <!-- Modal Title -->
    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
    <!-- Close Button -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <!-- Modal Body -->
  <div class="modal-body">
    <!-- Form String -->
    <p> {{ form_string }} </p>
  </div>

  <!-- Modal Footer -->
  <div class="modal-footer">
    <!-- Cancel Button -->
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <!-- Delete Button -->
    <button type="button" class="btn btn-danger" 
      {{ hx_post_attribute|safe }}
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      hx-target="#dialog">
      Delete
    </button>
  </div>
</div>