<div id="user-list"> 
  <div class="card">
    <div class="card-header bg-secondary text-white">
      <h2 class="mb-0">User List</h2>
    </div>
    <div class="card-body">
      <ul class="list-group">
        {% for user in users %}
        <li class="list-group-item">
          {% comment %} <a href="{% url 'user_management' user.user_id %}" class="btn btn-link"> {% endcomment %}
            {{ user.first_name }} {{ user.last_name }} - {{ user.role }}
          </a>
        </li>
        {% empty %}
        <li class="list-group-item">No users found.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>